
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import url("https://fonts.googleapis.com/css?family=Muli");
a {
    text-decoration: none;
}
#openerbox {
    font-family: Bowlby One SC;
    color: #ff6666;
    position: fixed;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* aligns on vertical for column */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* aligns on horizontal for column */
    z-index: 10;
    overflow: hidden;
}
.POLY{
    opacity: 0;
    -webkit-animation: flash1 600ms 1;
            animation: flash1 600ms 1;
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
    position:absolute;
}

.EDO{
    opacity: 0;
    color: #f3f49e;
    -webkit-animation: flash2 600ms 1;
            animation: flash2 600ms 1;
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
    position:absolute;
}

.body1{
    opacity: 1;
    /*-webkit-animation: body1 2.8s 1;
            animation: body1 2.8s 1;*/
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

@-webkit-keyframes flash1 {
    0%{
        opacity: 1
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash1 {
    0%{
        opacity: 1
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flash2 {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash2 {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes body1 {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes body1 {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* colors: lightblue:#a2cef3 red:#ff6666 yellow:#f3f49e green:#9dcc65 orange:#fc9c05 */

.allb {
    background-color: #a2cef3;
    margin: 0 0 0 0;
    -webkit-animation: bchange 2.8s 1;
            animation: bchange 2.8s 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
@-webkit-keyframes bchange {
    0%{
        background-color: #a2cef3;
    }
    80%{
        background-color: #a2cef3;
    }
    100%{
        background-color: white;
    }
}
@keyframes bchange {
    0%{
        background-color: #a2cef3;
    }
    80%{
        background-color: #a2cef3;
    }
    100%{
        background-color: white;
    }
}

.topbar {
    background-color: #a2cef3;
    position: relative;
    text-align:center;
    margin: 0px 0 -5px 0;
}
.container {
    background-color: inherit;
    padding: 0 0 0 0;
    position: relative;
    text-align: center;
    margin-bottom: -4px;
}
.plogobar {
    background-color: #a2cef3;
    width: 100%;
    margin: 0 0 0 0;
    height: 60px;
    text-align: center;
    position: relative;
}

.himg {
    width: 33.33%;
    position: relative;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    background:white;
    -webkit-transition: background-color .4s, -webkit-filter .4s;
    transition: background-color .4s, -webkit-filter .4s;
    -o-transition: background-color .4s, filter .4s;
    transition: background-color .4s, filter .4s;
    transition: background-color .4s, filter .4s, -webkit-filter .4s;
}
.himg:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-color: #ff6666;
    cursor: pointer;
}
#him2:hover {
    background-color: #f3f49e;
}

#him3:hover {
    background-color: rgb(246, 152, 255);
}
#him4:hover {
    background-color: #fc9c05;
}
#him5:hover {
    background-color: #9dcc65;
}
#him6:hover {
    background-color: #a2cef3;
}

.smimg {
    width: 55px;
    height: 55px;
    margin: 3px 1.5vw 0 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgb(56, 56, 56);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
#smimg1:hover {
    background-color: red;
    -webkit-box-shadow: 0 0 20px #ff2222;
            box-shadow: 0 0 20px #ff2222;
}

#smimg2:hover {
    background-color: rgb(225, 0, 255);
    -webkit-box-shadow: 0 0 20px #cc00ff;
            box-shadow: 0 0 20px #cc00ff;
}
#smimg3:hover {
    background-color: hsl(207, 100%, 50%);
    -webkit-box-shadow: 0 0 20px #008cff;
            box-shadow: 0 0 20px #008cff;
}

.bottombar {
    position: absolute;
    width: 100%;
    background-color: black;
    text-align: right;
    -webkit-clip-path: polygon(83% 0, 100% 0, 100% 100%, 83% 100%, 84% 50%);
            clip-path: polygon(83% 0, 100% 0, 100% 100%, 83% 100%, 84% 50%);
    height: 60px;
    margin-top: -1px;
    overflow: hidden;
}
#btitlebar {
    -webkit-clip-path: polygon(54% 0, 0 0, 0 100%, 54% 100%, 55% 50%);
            clip-path: polygon(54% 0, 0 0, 0 100%, 54% 100%, 55% 50%);
    background-color: #a2cef3;
    text-align: left;
}
#bredbar {
    -webkit-clip-path: polygon(74% 0, 54% 0, 55% 50%, 54% 100%, 74% 100%, 75% 50%);
            clip-path: polygon(74% 0, 54% 0, 55% 50%, 54% 100%, 74% 100%, 75% 50%);
    background-color: #ff6666;
}
#byellowbar {
    -webkit-clip-path: polygon(83% 0, 74% 0, 75% 50%, 74% 100%, 83% 100%, 84% 50%);
            clip-path: polygon(83% 0, 74% 0, 75% 50%, 74% 100%, 83% 100%, 84% 50%);
    background-color: #f3f49e;
}

#ltrap {
    width: 100%;
    height: 40vw;
    background-image: url('uja.JPG');
    background-size: 60vw 42vw;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
            clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
    position:relative
  }
  
  #ltrap:hover {
      opacity: .8;
      cursor: pointer;
  }
  #rtrap {
    width: 100%;
    height: 40vw;
    background-image: url('naenae3.jpg');
    background-size: 70vw 64vw;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(100% 0, 40% 0, 60% 100%, 100% 100%);
            clip-path: polygon(100% 0, 40% 0, 60% 100%, 100% 100%);
    position:absolute;
    top:0;
    right:0;
    background-position: 120% 55%;
  }
  
  #rtrap:hover {
      opacity: .85;
      cursor: pointer;
  }
#shcart {
    position:absolute;
    top:2px;
    right:10px;
    border-radius:50%;
    opacity: .7;
    height: 50px;
    width: 50px;
}
#shcart:hover {
    opacity: 1;
    cursor: pointer;
}

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 87vh;
    height: 87vh;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 0 0 5px #888;
            box-shadow: 0 0 5px #888;
            overflow: hidden;
  }

  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    position: absolute;
    font-size: 5vh;
    font-weight: bold;
    z-index: 15;
    top: 0;
    left: 2vh;
    display:none;
  }
  
  .innerpic {
      position: absolute;
      top: 0;
      left: 0;
      height: 83%;
      width: 83%;
      background-color: white;
  }

  .sidename {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-text-orientation: upright;
            text-orientation: upright;
    top: 0;
    right: 0;
    font-size: 9.8vh;
    font-family: 'Bowlby One SC';
    position: absolute;
    margin: 0 0 0 0;
    height: 83%;
    width: 17%;
    letter-spacing: -.6em;
    color: #ff6666;
    background-color: #a2cef3;
    z-index: 4;
  }
#postedname {
    font-size: 13vh;
    position: absolute;
    left: -.9vw;
    letter-spacing: -.6em;
}

  .brshcart {
    bottom: 0;
    right: 0;
    font-size: 30px;
    font-family: 'Bowlby One SC';
    position: absolute;
    margin: 0 0 0 0;
    width: 17%;
    height: 17%;
    color: #ff6666;
    background-color: #9dcc65;
    z-index: 4;
    text-align:center;
  }

  .sizeb {
      position:relative;
      background-color:#f3f49e;
      color: black;
      height: 100%;
      width: 20%;
      text-align: center;
      font-size: 7vh;
      margin: 0 0 0 0;
      border: none;
      font-family: 'Bowlby One SC';
      border-left: 1px solid #888;

  }
  .sizeb:hover {
      cursor: pointer;
      color: rgb(68, 68, 68);
  }
#i1sbutton {
    border-left: 0px;
}


.brincart {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    background-color: #9dcc65;
    z-index: 3;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.brincart:hover {
    opacity:1;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.atc {
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 4.2vh;
    line-height: 1.25em;
    color: black;
    left: 20px;
}
.headert {
    width: 200px;
    height: 55px;
}
.qtybox {
    bottom: 0;
    right: 0px;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #f3f49e;
    color: black;
    z-index: 5;
    text-align: center;
    font-size: 2.3vh;
    font-family: Bowlby One SC;
    border-left: 1px solid #888;
    overflow: hidden;
}
.qtyboxlabel {
    position: relative;
    top: 0px;
}
.qupb {
    top: -5px;
    position: relative;
    border: none;
    background-color: #f3f49e;
    font-size: 3vh;
}
.qupb:hover {
    cursor: pointer;
    opacity: .6;
}

.qnum {
    top: -35px;
    position: relative;
    font-size: 3vh;
}
.qdownb {
    top: -65px;
    position: relative;
    border: none;
    background-color: #f3f49e;
    font-size: 3vh;
}
.qdownb:hover {
    cursor: pointer;
    opacity: .6;
}
button:focus {
    outline: none;
}


#chead {
    position: relative;
    top: 0;
    text-align: center;
    font-family: Bowlby One SC;
    color: #ff6666;
    font-size: 6vh;
    margin: 0 0 0 0;
}

.itemhead {
    position: absolute;
    font-family: Bowlby One SC;
    color: black;
    top: 0;
    left: 13vh;
    font-size: 3vh;
}
.itemqline {
    position: relative;
    font-size: 3vh;
    font-family: Bowlby One SC;
    margin: 0 0 0 0;
    color: black;
    bottom: 1vh;
    font-style: italic;
}


.shpic {
    position: relative;
    height: 12vh;
    width: 12vh;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
    background-color: #a2cef3;
}
.shbox {
    background-color: #a2cef3;
    position: relative;
    margin: 0 1vh 1vh 1vh;
    width: 97.5%;
    height: 12vh;
    text-align: left;
    display: none;
}
.itemcancel {
    position: absolute;
    right: 1vh;
    font-size: 4vh;
    color: #888;
}
.itemcancel:hover {
    color: black;
    cursor: pointer;
}

#nothing {
    position: relative;
    font-size: 2.5vh;
    font-family: Bowlby One SC;
    margin: 0 0 0 0;
    color: black;
    top: 2vh;
    text-align: center;
}
#shmodal-content {
    padding: 0 0 0 0;
    height: auto;
    width: 900px;
    text-align: center;
}
#checkbar {
    position:relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 6vh;
    background-color: #ff6666;
    margin: 0 0 0 0;
    display: none;
}
#checkbutton {
    background-color: #f3f49e;
    color: black;
    height: 80%;
    top: 10%;
    width: 50%;
    font-size: 3vh;
    font-family: Bowlby one SC;
    position: relative;
}
.iprice {
    position: absolute;
    bottom: 0;
    right: 1vh;
    font-family: Bowlby One SC;
    font-size: 3vh;
}

#totalitems {
    position: absolute;
    left: 4vh;
    top: 1vh;
    color: black;
    font-family: Bowlby One SC;
    font-size: 3vh;
}
#totalprice {
    position: absolute;
    right: 1.5vh;
    top: 1vh;
    color: black;
    font-family: Bowlby One SC;
    font-size: 2.7vh;
}
.plogo {
    border-radius: 50%;
    position: relative;
    height: 49px;
    width: 49px;
    top: 9%;
}
.btitlespacer {
    overflow: hidden;
    height: 80px;
    width: 70%;
    bottom: 0;
    position: absolute;
    left: 0;
    margin: 0 0 0 0;
}
.btitle {
    left: 70px;
    font-family: Bowlby One SC;
    font-size: 70px;
    position: absolute;
    color: #ff6666;
    top: -2px;
}
.phonebox {
    width: 100%;
    height: 100vw;
    background-image: url('uja.JPG');
    background-size: cover;
    background-position: 20% 0;
    position: relative;
    margin: 0 0 0 0;
    display: none;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}
#phonebox2 {
    background-image: url('naenae3.jpg');
    background-size: 120vw 105vw;
    background-position: 90% 40%;
    -webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
    top: -40vw;
    margin-bottom: -40vw;
}
.phboxtext {
    position: absolute;
    right: 3vw;
    font-size: 8vw;
    font-family: Bowlby One SC;
    color: white;
}
#pbtext2 {
    left: 3vw;
    bottom: 0;
}
.phonestripe {
    -webkit-clip-path: polygon(0 29.5%, 100% 69.5%, 100% 70.5%, 0 30.5%);
            clip-path: polygon(0 29.5%, 100% 69.5%, 100% 70.5%, 0 30.5%);
    height: 100vw;
    width: 100%;
    position: relative;
    margin: -50vw 0 -50vw 0;
    top: -20vw;
    background-color: #a2cef3;
    opacity: 1;
    z-index: 1;
    display: none;
    overflow: hidden;
}
#ph2 {
    background-color: #f3f49e;
    -webkit-clip-path: polygon(0 29.5%, 66.7% 56.17%, 66.7% 57.17%, 0 30.5%);
            clip-path: polygon(0 29.5%, 66.7% 56.17%, 66.7% 57.17%, 0 30.5%);
    z-index: 2;
    top: -70vw;
    margin-bottom: -100vw;
}
#ph3 {
    background-color: #ff6666;
    -webkit-clip-path: polygon(0 29.5%, 33.3% 42.83%, 33.3% 43.83%, 0 30.5%);
            clip-path: polygon(0 29.5%, 33.3% 42.83%, 33.3% 43.83%, 0 30.5%);
    z-index: 3;
    top: -70vw;
    margin-bottom: -100vw;
}

#blogo {
    left: 10px;
}
@media only screen and (max-width: 1600px) {
    #bredbar {
        -webkit-clip-path: polygon(73% 0, 54% 0, 55% 50%, 54% 100%, 73% 100%, 74% 50%);
                clip-path: polygon(73% 0, 54% 0, 55% 50%, 54% 100%, 73% 100%, 74% 50%);
    }
    #byellowbar {
        -webkit-clip-path: polygon(79% 0, 73% 0, 74% 50%, 73% 100%, 79% 100%, 80% 50%);
                clip-path: polygon(79% 0, 73% 0, 74% 50%, 73% 100%, 79% 100%, 80% 50%);
    }
    .bottombar {
        -webkit-clip-path: polygon(79% 0, 100% 0, 100% 100%, 79% 100%, 80% 50%);
                clip-path: polygon(79% 0, 100% 0, 100% 100%, 79% 100%, 80% 50%);
    }
}
@media only screen and (max-width: 1200px) {
    #bredbar {
        -webkit-clip-path: polygon(69% 0, 54% 0, 55% 50%, 54% 100%, 69% 100%, 70% 50%);
                clip-path: polygon(69% 0, 54% 0, 55% 50%, 54% 100%, 69% 100%, 70% 50%);
    }
    #byellowbar {
        -webkit-clip-path: polygon(74% 0, 69% 0, 70% 50%, 69% 100%, 74% 100%, 75% 50%);
                clip-path: polygon(74% 0, 69% 0, 70% 50%, 69% 100%, 74% 100%, 75% 50%);
    }
    .bottombar {
        -webkit-clip-path: polygon(74% 0, 100% 0, 100% 100%, 74% 100%, 75% 50%);
                clip-path: polygon(74% 0, 100% 0, 100% 100%, 74% 100%, 75% 50%);
    }
}
@media only screen and (max-width: 1024px) { /* ipad pro */
    .himg {
        width: 50%;
    }
    .modal-content {
        height: 87vw;
        width: 87vw;
    }
    .sizeb {
        font-size: 7vw;
    }
    .qtybox {
        font-size: 2.3vw;
    }
    .qtyboxlabel {
        top: .6vw;
    }
    .qupb {
        font-size: 3vw;
        top: 0;
    }
    .qnum {
        font-size: 3vw;
        top: -4vw;
    }
    .qdownb {
        font-size: 3vw;
        top: -8.5vw;
    }
    .sidename {
        font-size: 9.8vw;
    }
    #postedname {
        font-size: 13vw;
        left: -1vh;
    }
    .atc {
        font-size: 4.2vw;
        left: 2.2vw;
    }
    #shmodal-content {
        width: 87vw;
    }
    #chead {
        font-size: 6vw;
    }
    #nothing {
        font-size: 2.5vw;
    }
    .itemhead {
        font-size: 3vw;
    }
    .itemqline {
        font-size: 3vw;
    }
    #totalitems {
        font-size: 3vw;
        left: 4vw;
        top: 1.5vw;
    }
    #totalprice {
        font-size: 2.7vw;
        top: 1.5vw;
        right: 1.5vw;
    }
    #checkbar {
        height: 6vw;
    }
    #checkbutton {
        font-size: 3vw;
    }
    /*#trapcontainer {
        height: 400px;
    }
    #ltrap {
        height: 100%;
        clip-path: polygon(0 0, 35% 0, 65% 100%, 0% 100%);
        background-size: 80vw 56vw;
        background-position: -30% 20%;
    }
    #rtrap {
        height: 100%;
        clip-path: polygon(100% 0, 35% 0, 65% 100%, 100% 100%);
    }*/
    

}
@media only screen and (max-width: 900px) {
    #bredbar {
        display: none;
    }
    #byellowbar {
        display: none;
    }
    #btitlebar {
        -webkit-clip-path: polygon(69% 0, 0 0, 0 100%, 69% 100%, 70% 50%);
                clip-path: polygon(69% 0, 0 0, 0 100%, 69% 100%, 70% 50%);
    }
    .bottombar {
        -webkit-clip-path: polygon(69% 0, 100% 0, 100% 100%, 69% 100%, 70% 50%);
                clip-path: polygon(69% 0, 100% 0, 100% 100%, 69% 100%, 70% 50%);
    }
    .itemhead {
        font-size: 4vw;
    }
    .itemqline {
        font-size: 4vw;
    }
}
@media only screen and (max-width: 420px) { /* widest phone (6/7/8 plus)*/
    .sizeb:hover {
        color: black;
    }
    .qupb:hover {
        opacity: 1;
    }
    .qdownb:hover {
        opacity: 1;
    }
    .close {
        display: block;
    }
    .topbar {
        margin: -5px 0 -10px 0;
    }
    .headert {
        width: 150px;
        height: 41.25px;
    }
    .modal-content {
        top: 20vh;
    }
    .body1 {
        height: 100vh;
        overflow-y: hidden;
    }
    #shcart {
        height: 36px;
        width: 36px;
    }
    #blogo {
        left: 5px;
    }
    .himg {
        width: 100%;
    }
    #trapcontainer {
        display: none;
    }
    .plogobar {
        height: 40px;
    }
    .plogo {
        height: 32.7px;
        width: 32.7px;
    }
    .btitlespacer {
        height: 53px;
    }
    .btitle {
        font-size: 11vw;
        top: 0;
        left: 43px;
    }
    #btitlebar {
        -webkit-clip-path: polygon(65% 0, 0 0, 0 100%, 65% 100%, 66% 50%);
                clip-path: polygon(65% 0, 0 0, 0 100%, 65% 100%, 66% 50%);
    }
    .bottombar {
        height: 40px;
        -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 61% 50%);
                clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 61% 50%);
    }
    .smimg {
        height: 32.7px;
        width: 32.7px;
        margin: 4px 1vw 0 0;
    }
    .phonebox {
        display: block;
    }
    .phonestripe {
        display: block;
    }
    .POLY {
        top: 30%;
    }
    .EDO {
        top: 45%;
    }
    .itemhead {
        max-width: 120px;
        font-size: 4vw;
    }
    .itemqline {
        font-size: 4vw;
    }
    #shmodal-content {
        top: 40px;
    }
    .atc {
        display: none;
    }
    .brincart {
        opacity: 1;
    }
    @-webkit-keyframes colorpulse1 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #ff6666;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @keyframes colorpulse1 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #ff6666;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @-webkit-keyframes colorpulse2 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #f3f49e;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @keyframes colorpulse2 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #f3f49e;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @-webkit-keyframes colorpulse3 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #a2cef3;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @keyframes colorpulse3 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #a2cef3;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @-webkit-keyframes colorpulse4 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #fc9c05;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @keyframes colorpulse4 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #fc9c05;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @-webkit-keyframes colorpulse5 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #9dcc65;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @keyframes colorpulse5 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: #9dcc65;
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @-webkit-keyframes colorpulse6 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: rgb(246, 152, 255);
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    @keyframes colorpulse6 {
        0% {
            background-color: white;
        }
        40% {
            background-color: white;
        }
        50% {
            background-color: rgb(246, 152, 255);
        }
        65% {
            background-color: white;
        }
        100% {
            background-color: white;
        }
    }
    .himg {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
    }
    #him1 {
        -webkit-animation: colorpulse1 7s 1;
                animation: colorpulse1 7s 1;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    #him2 {
        -webkit-animation: colorpulse2 7s 1;
                animation: colorpulse2 7s 1;
        -webkit-animation-delay: .2s;
                animation-delay: .2s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    #him3 {
        -webkit-animation: colorpulse3 7s 1;
                animation: colorpulse3 7s 1;
        -webkit-animation-delay: .4s;
                animation-delay: .4s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    #him4 {
        -webkit-animation: colorpulse4 7s 1;
                animation: colorpulse4 7s 1;
        -webkit-animation-delay: .6s;
                animation-delay: .6s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    #him5 {
        -webkit-animation: colorpulse5 7s 1;
                animation: colorpulse5 7s 1;
        -webkit-animation-delay: .8s;
                animation-delay: .8s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    #him6 {
        -webkit-animation: colorpulse6 7s 1;
                animation: colorpulse6 7s 1;
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    @-webkit-keyframes smimgpulse1 {
        0% {
            background-color: rgb(56, 56, 56);
        }
        40% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        50% {
            background-color: red;
            -webkit-box-shadow: 0  0 20px #ff2222;
                    box-shadow: 0  0 20px #ff2222;
        }
        65% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        100% {
            background-color: rgb(56, 56, 56);
        }
    }
    @keyframes smimgpulse1 {
        0% {
            background-color: rgb(56, 56, 56);
        }
        40% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        50% {
            background-color: red;
            -webkit-box-shadow: 0  0 20px #ff2222;
                    box-shadow: 0  0 20px #ff2222;
        }
        65% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        100% {
            background-color: rgb(56, 56, 56);
        }
    }
    @-webkit-keyframes smimgpulse2 {
        0% {
            background-color: rgb(56, 56, 56);
        }
        40% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        50% {
            background-color: rgb(225, 0, 255);
            -webkit-box-shadow: 0  0 20px #cc00ff;
                    box-shadow: 0  0 20px #cc00ff;
        }
        65% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        100% {
            background-color: rgb(56, 56, 56);
        }
    }
    @keyframes smimgpulse2 {
        0% {
            background-color: rgb(56, 56, 56);
        }
        40% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        50% {
            background-color: rgb(225, 0, 255);
            -webkit-box-shadow: 0  0 20px #cc00ff;
                    box-shadow: 0  0 20px #cc00ff;
        }
        65% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        100% {
            background-color: rgb(56, 56, 56);
        }
    }
    @-webkit-keyframes smimgpulse3 {
        0% {
            background-color: rgb(56, 56, 56);
        }
        40% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        50% {
            background-color: hsl(207, 100%, 50%);
            -webkit-box-shadow: 0  0 20px #008cff;
                    box-shadow: 0  0 20px #008cff;
        }
        65% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        100% {
            background-color: rgb(56, 56, 56);
        }
    }
    @keyframes smimgpulse3 {
        0% {
            background-color: rgb(56, 56, 56);
        }
        40% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        50% {
            background-color: hsl(207, 100%, 50%);
            -webkit-box-shadow: 0  0 20px #008cff;
                    box-shadow: 0  0 20px #008cff;
        }
        65% {
            background-color: rgb(56, 56, 56);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        100% {
            background-color: rgb(56, 56, 56);
        }
    }
    #smimg1 {
        -webkit-animation: smimgpulse1 7s 1;
                animation: smimgpulse1 7s 1;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
    }
    #smimg2 {
        -webkit-animation: smimgpulse2 7s 1;
                animation: smimgpulse2 7s 1;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-delay: 1.4s;
                animation-delay: 1.4s;
    }
    #smimg3 {
        -webkit-animation: smimgpulse3 7s 1;
                animation: smimgpulse3 7s 1;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-delay: 1.6s;
                animation-delay: 1.6s;
    }
}
@media only screen and (max-width: 375px) {/* X */
    .btitlespacer {
        height: 13.5vw;
    }
    #btitlebar {
        -webkit-clip-path: polygon(65% 0, 0 0, 0 100%, 65% 100%, 67% 50%);
                clip-path: polygon(65% 0, 0 0, 0 100%, 65% 100%, 67% 50%);
    }
    .bottombar {
        height: 40px;
        -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%, 67% 50%);
                clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%, 67% 50%);
    }
}
@media only screen and (max-width: 320px) { /* 5/se skinniest */
    #blogo {
        display: none;
    }
    .btitlespacer {
        height: 48px;
    }
    .btitle {
        left: 5px;
        font-size: 12vw;
    }
    #btitlebar {
        -webkit-clip-path: polygon(61% 0, 0 0, 0 100%, 61% 100%, 63% 50%);
                clip-path: polygon(61% 0, 0 0, 0 100%, 61% 100%, 63% 50%);
    }
    .bottombar {
        height: 40px;
        -webkit-clip-path: polygon(61% 0, 100% 0, 100% 100%, 61% 100%, 63% 50%);
                clip-path: polygon(61% 0, 100% 0, 100% 100%, 61% 100%, 63% 50%);
    }
}
