
.topbox {
    width: 2000px;
    height: 1000px;
    background-color: black;
    position: relative;
}

@-webkit-keyframes guitpull {
    0% {
        top: 0;
    }
    100% {
        top: -110px;
    }
}

@keyframes guitpull {
    0% {
        top: 0;
    }
    100% {
        top: -110px;
    }
}
#guit {
    -webkit-animation: guitpull .7s 1;
            animation: guitpull .7s 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
}

.artpic {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

@-webkit-keyframes pullin {
    0% {
        opacity: 0;
        bottom: -8vw;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes pullin {
    0% {
        opacity: 0;
        bottom: -8vw;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

.uptitle {
    position: fixed;
    height: 8vw;
    bottom: -8vw;
    width: 100%;
    font-size: 9.9vw;
    font-family: Bowlby One SC;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0;
    z-index: 1;
    -webkit-animation: pullin .7s 1;
            animation: pullin .7s 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
}
.othertitle {
    position: fixed;
    height: 8vw;
    bottom: 0;
    width: 100%;
    font-size: 9.9vw;
    font-family: Bowlby One SC;
    text-align: center;
    color: white;
    background-color: black;
    z-index: 1;
}

.pagetitle {
    position: relative;
    top: -3.2vw;
}

.fullbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.fullbox:hover {
    cursor: pointer;
}

.logobutton {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 5;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.logobutton:hover {
    background-color: white;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-box-shadow: 0 0 30px white;
            box-shadow: 0 0 30px white;
}


#ethtab {
    display: none;
    left: 100vw;
}
#jantab {
    display: none;
    left: 100vw;
}
.fullcont {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.third {
    -webkit-transition: 16s;
    -o-transition: 16s;
    transition: 16s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.third:hover {
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
#third1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-image: url('videowork.jpg');
    background-size: 2000px 1000px;
    -webkit-clip-path: polygon(0 25%, 0 0, 100% 0);
            clip-path: polygon(0 25%, 0 0, 100% 0);
}

#third2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-image: url('videowork.jpg');
    background-size: 2000px 1000px;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 50%);
            clip-path: polygon(0 25%, 100% 0, 100% 50%);
}

#third3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-image: url('videowork.jpg');
    background-size: 2000px 1000px;
    -webkit-clip-path: polygon(0 25%, 0 75%, 100% 50%);
            clip-path: polygon(0 25%, 0 75%, 100% 50%);
}
#third4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-image: url('videowork.jpg');
    background-size: 2000px 1000px;
    -webkit-clip-path: polygon(100% 100%, 0 75%, 100% 50%);
            clip-path: polygon(100% 100%, 0 75%, 100% 50%);
}
#third5 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    -webkit-clip-path: polygon(0 75%, 100% 90%, 100% 100%, 0% 100%);
            clip-path: polygon(0 75%, 100% 90%, 100% 100%, 0% 100%);
}
.youthird {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(73% 86%, 100% 90%, 100% 100%, 70% 100%);
            clip-path: polygon(73% 86%, 100% 90%, 100% 100%, 70% 100%);
    background-color: rgb(31, 31, 31);
    overflow: visible;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.youthird:hover {
    background-color: red;
}
.youthirdtitle {
    color: black;
    font-size: 4vw;
    font-family: Bowlby One SC;
    position: absolute;
    bottom: 2px;
    right: 5vw;
}
.vtitle {
    font-family: Bowlby One SC;
    font-size: 150px;
    color: #ff6666;
    bottom: 10vh;
    position: absolute;
    max-width: 100%;
}
.vmessage {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-family: Muli;
    color: white;
    font-size: 28px;
    width: 70vw;
}
